{:aliases  {:dev {:extra-paths ["development/src"]

                  :extra-deps {poly/data-api {:local/root "bases/data-api"}
                               poly/export-api {:local/root "bases/export-api"}
                               poly/resources {:local/root "components/resources"}
                               poly/sql {:local/root "components/sql"}
                               org.clojure/clojure {:mvn/version "1.11.1"}}}

            :test {:extra-paths ["components/sql/test"
                                 "bases/data-api/test"
                                 "bases/export-api/test"]}

            :poly {:extra-deps {polylith/clj-poly {:git/url "https://github.com/polyfy/polylith.git"
                                                   :sha "d239f8b2cfd950bf5c2f7a757e51b7aacf6e92ca"
                                                   :deps/root "projects/poly"}
                                org.apache.logging.log4j/log4j-api {:mvn/version "2.20.0"}
                                org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.20.0"}}
                   :main-opts ["-m" "polylith.clj.core.poly-cli.core"]}}
 :mvn/repos {"codeguru" {:url "https://d1osg35nybn3tt.cloudfront.net"}}}
