{:paths ["src" "resources"]
 :deps {com.taoensso/timbre {:mvn/version "5.1.2"}
        com.stuartsierra/component {:mvn/version "1.0.0"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.894"}
        com.github.seancorfield/honeysql {:mvn/version "2.5.1091"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}
 :mvn/repos {"codeguru" {:url "https://d1osg35nybn3tt.cloudfront.net"}}}
